DISCORD_TOKEN= // here put your bot token
CLIENT_ID= // here you should put your bot ID
OWNER_ID= // here goes your ID

# Development settings
PREFIX= // prefix of the bot
WEBHOOK_URL= // webhook URL

# Environment
NODE_ENV= // enviroment, for example: PROD, or DEV

# Database
username= // database username
Password= // password to the database
MONGODB_URI= // your cluster URL

# Website
WEB_PORT= // port of the website
DASHBOARD_TOKEN= // name of the dashboard

# Logging
WEBHOOK_WARNINGS=true
WEBHOOK_ERRORS=true

# Custom Commands
CUSTOM_COMMAND_APPROVAL_CHANNEL= // channel ID where code commands are sent for review
